<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GAME</title>
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href='{% static "styles/style.css" %}'
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div id="enter-username">
      <h1>ENTER YOUR USERNAME</h1>
      <input type="text" name="username" id="username" />
      <button class="btn btn-primary" type="submit" onclick="saveUser()">
        SUBMIT
      </button>
    </div>
    <div class="row">
      <div
        class="
          col-sm-12 col-lg-4 col-md-12
          order-lg-2
          d-flex
          justify-content-center
        "
      >
        <div id="game" onclick="jump()">
          <div id="scorebox">SCORE: 0</div>
          <div id="start-box">
            <h7 id="start-message">START GAME</h7>
            <div id="start" onclick="startGame()"></div>
          </div>
          <div id="bird"></div>
          <div id="pipe">
            <div id="top"></div>
            <div id="hole"></div>
            <div id="bottom"></div>
          </div>
        </div>
      </div>
      <div
        class="
          col-sm-12 col-md-6 col-lg-4 col-md-6
          order-lg-1
          d-flex
          justify-content-center
        "
      >
        <div id="best-scores">
          <h1>YOUR BEST SCORES</h1>
          <ol id="score-list"></ol>
        </div>
      </div>

      <div
        class="
          col-sm-12 col-lg-4 col-md-6
          order-3
          d-flex
          justify-content-center
        "
      >
        <div id="leaderboard">
          <h1>LEADERBOARD</h1>
          <ol id="leaderboard-ol"></ol>
        </div>
      </div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
